<div class="container">
  <form autocomplete="off">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Cerveja</h1>
      </div>


      <div class="ui-g-6 ui-md-2 ui-fluid">
        <label>SKU </label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome </label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <textarea pInputTextarea rows="3" name="descricao" ></textarea>
      </div>


      <div class="ui-g-12 ui-lg-3 ui-md-4 ui-fluid">
        <label>Sabor</label>
        <p-dropdown [options]="sabor" placeholder="Selecione"
          [autoWidth]="false">
        </p-dropdown>
      </div>

      <div class="ui-g-6 ui-lg-3 ui-md-4 ui-fluid">
        <label >Teor Alcoólico </label>
        <div class="input-group">
          <input pInputText type="text">
            <div class="input-group-addon">%</div>
        </div>
      </div>

      <div class="ui-g-12 ui-lg-3 ui-md-4 ui-fluid">
            <label>Preço </label>
            <div class="input-group">
                <div class="input-group-addon" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }">R$</div>
                <input pInputText type="text" >
          </div>
      </div>
      <div class="ui-g-12 ui-lg-2 ui-md-4 ui-fluid">
          <label>Origem</label>
       <!--   <p-radioButton name="nacional" value="Nacional" label="Nacional" [options]="origem"></p-radioButton> -->
  <!--  <p-radioButton name="group1" value="Option 1" label="Option 1" [(ngModel)]="val1" inputId="opt1"></p-radioButton> -->
            <div>
              <div class="radio  radio-inline">
                  <p-radioButton name="group1" value="Nacional" label="Nacional" [(ngModel)]="origem" inputId="origem"></p-radioButton>
              </div>
              <div class="radio  radio-inline">
                  <p-radioButton name="group1" value="Internacional" label="Internacional" [(ngModel)]="origem" inputId="origem"></p-radioButton>
              </div>
            </div>
        <!--  Selected Value = {{origem||'none'}} -->
        </div>

      <div class="ui-g-6 ui-md-2 ui-fluid">
          <label>Estoque </label>
          <input pInputText type="text" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false, precision: 0 }">
        </div>
      <div class="ui-g-12 ui-lg-3 ui-md-4 ui-fluid">
          <label>Comissão </label>
          <div class="input-group">
              <input pInputText type="text" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }">
              <div class="input-group-addon">%</div>
        </div>
     </div>

     <div class="ui-g-12 ui-lg-3 ui-md-4 ui-fluid">
        <label>Estilo</label>
        <p-dropdown [options]="estilos" placeholder="Selecione"
          [autoWidth]="false">
        </p-dropdown>

      </div>

      <div class="ui-g-1 ui-lg-1 ui-md-1 ui-fluid" >
          <i class="fa fa-floppy-o" aria-hidden="true"  (click)="showDialog()"></i>
      </div>



      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>

<div class="content-section implementation">
    <p-dialog header="Cadastro de Estilo" [(visible)]="display" modal="modal" [responsive]="true" [width]="300" [minWidth]="200">

      <form autocomplete="off">
          <label>Nome do Estilo </label>
        <input pInputText type="text" name="nome" ngModel #nome="ngModel" required minlength="5">
        <app-message [control]="nome" error="required"
          text="Informe o Estilo"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres">
        </app-message>

      </form>
           <p-footer>
              <button pButton type="submit" label="Salvar"></button>
           </p-footer>
    </p-dialog>


</div>
