<div class="container">
<form>
    <div class="ui-g">
        <div class="ui-g-3">
            <select name="estado" id="estado" [(ngModel)]="carregarEstados">
                <option  *ngFor="let estado of estados" [value]="estado.codigo">{{estado.nome}}</option>
              </select>
        </div>

        <div class="ui-g-3">
            <select name="cidade" id="cidade" [(ngModel)]="carregarCidades">
                <option  *ngFor="let cidade of cidades" [value]="cidade.codigoEstado">{{cidade.nome}}</option>
              </select>
         </div>

  </div>

</form>
</div>
