<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

              <div class="ui-g">
                          <div class="ui-g-12">
                            <h1>Nova Cerveja</h1>
                          </div>


                          <div class="ui-g-6 ui-md-2 ui-fluid">
                            <label>SKU </label>
                            <input pInputText type="text" name="sku" [(ngModel)]="cerveja.sku"
                            ngmodel #sku="ngModel" required minlength="5">
                            <app-message [control]="sku" error="required"
                              text="Informe o sku"></app-message>
                          </div>

                          <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Nome </label>
                            <input pInputText type="text" name="nome_cerveja"
                            [(ngModel)]="cerveja.nome_cerveja"
                            ngmodel #nome_cerveja="ngModel" required minlength="5">

                            <app-message [control]="nome_cerveja" error="required"
                            text="Informe o nome da cerveja"></app-message>

                            <app-message [control]="nome_cerveja" error="minlength"
                            text="Mínimo de {{ nome_cerveja.errors?.minlength?.requiredLength }} caracteres"></app-message>

                          </div>

                  <div class="ui-g-12 ui-fluid">
                      <label>Descrição </label>
                      <textarea pInputTextarea rows="3" name="descricao" [(ngModel)]="cerveja.descricao"
                      #descricao="ngModel" required minlength="15"></textarea>

                      <app-message [control]="descricao" error="required"
                        text="Informe a descrição"></app-message>
                      <app-message [control]="descricao" error="minlength"
                        text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
                    </div>

                          <div class="ui-g-12 ui-lg-3 ui-md-4 ui-fluid">
                            <label>Sabor</label>
                            <p-dropdown [options]="sabor" placeholder="Selecione"
                              [autoWidth]="false" name="sabor" [(ngModel)]="cerveja.sabor"  >
                            </p-dropdown>
                          </div>

                          <div class="ui-g-12 ui-lg-3 ui-md-4 ui-fluid">
                              <label>Estilo</label>
                              <p-dropdown [options]="estilos" placeholder="Selecione"
                                [autoWidth]="false" name="estilo" [(ngModel)]="cerveja.estilo.codigo" required>
                              </p-dropdown>

                            </div>

                            <div class="ui-g-1 ui-lg-1 ui-md-1 ui-fluid" >
                              <i class="fa fa-floppy-o" aria-hidden="true"  (click)="showDialog()"></i>
                          </div>

                          <div class="ui-g-12 ui-lg-2 ui-md-4 ui-fluid">
                              <label>Origem</label>
                          <!--   <p-radioButton name="nacional" value="Nacional" label="Nacional" [options]="origem"></p-radioButton> -->
                      <!--  <p-radioButton name="group1" value="Option 1" label="Option 1" [(ngModel)]="val1" inputId="opt1"></p-radioButton> -->
                                <div>
                                  <div class="radio  radio-inline">
                                      <p-radioButton name="group1" value="Nacional"
                                      label="Nacional" [(ngModel)]="origem" inputId="origem"
                                      name="origem" [(ngModel)]="cerveja.origem.codigo"></p-radioButton>
                                  </div>
                                  <div class="radio  radio-inline">
                                      <p-radioButton name="group1" value="Internacional"
                                      label="Internacional" [(ngModel)]="origem" inputId="origem"
                                      name="origem" [(ngModel)]="cerveja.origem.codigo"></p-radioButton>
                                  </div>
                                </div>
                            <!--  Selected Value = {{origem||'none'}} -->
                            </div>



                            <div class="ui-g-12 ui-lg-3 ui-md-4 ui-fluid">
                              <label>Comissão </label>
                              <div class="input-group">
                                  <input pInputText type="text"
                                  currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"

                                  name="comissao" [(ngModel)]="cerveja.comissao" required>
                                  <div class="input-group-addon">%</div>


                            </div>
                        </div>



                        <div class="ui-g-12 ui-lg-3 ui-md-4 ui-fluid">
                          <label >Teor Alcoólico </label>
                          <div class="input-group">
                            <input pInputText type="text"
                            name="teorAlcoolico" [(ngModel)]="cerveja.teorAlcoolico" required>
                              <div class="input-group-addon">%</div>
                          </div>
                        </div>

                        <div class="ui-g-12 ui-md-3 ui-fluid">
                            <label>Valor</label>
                            <input pInputText type="text" name="valor" placeholder="0,00"
                              currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
                              [(ngModel)]="cerveja.valor" required>
                          </div>


                      <div class="ui-g-6 ui-md-4 ui-fluid">
                        <label>Estoque</label>
                        <input pInputText type="text"
                        currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false, precision: 0 }"
                        name="quantidadeEstoque" [(ngModel)]="cerveja.quantidadeEstoque" required>
                      </div>

                      <div class="ui-g">
                        <div class="ui-g-12">
                            <label>Foto</label>
                            <div id="upload-drop" class="bw-upload">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <span>Arraste a foto aqui ou </span>
                                    <a class="bw-upload-form-file">selecione
                                      <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/>
                                    </a>
                          </div>
                        </div>
                      </div>




                          <div class="ui-g-12">
                            <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
                            <button pButton type="button" label="Novo" class="ui-button-info"></button>
                            <a href="javascript:;">Voltar para a pesquisa</a>
                          </div>
          </div>

      </form>
    </div>

    <div class="content-section implementation">
        <p-dialog header="Cadastro de Estilo" [(visible)]="display" modal="modal" [responsive]="true" [width]="300" [minWidth]="200">

            <form #festilo="ngForm" autocomplete="off" (ngSubmit)="salvarEstilos(festilo)">

                <div class="ui-g">
                      <div class="ui-g-12 ui-md-9 ui-fluid">
                        <label>Nome do Estilo </label>
                        <input pInputText type="text" name="nome" [(ngModel)]="estilo.nome"
                        ngModel #nome="ngModel" required minlength="5">

                        <app-message [control]="nome" error="required"
                          text="Informe o Estilo"></app-message>
                        <app-message [control]="nome" error="minlength"
                          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres">
                        </app-message>


                    </div>

                    <div class="ui-g-12">
                        <p-footer>
                          <button pButton type="submit" label="Salvar" [disabled]="festilo.invalid"></button>
                          <button pButton type="button" label="Novo" class="ui-button-info"></button>
                          <a href="javascript:;">Voltar para a pesquisa</a>
                      </p-footer>
                    </div>
              </div>

            </form>
      </p-dialog>


  </div>


